{% extends "base.html" %} {% block title %}Playlist · PaperPi{% endblock %} {%
block content %}
<div class="row">
  <div class="card stack" style="flex: 1">
    <h2>Refresh Settings</h2>

    <label>Plugin</label>
    <select id="refresh-settings">
      {% for plugin in plugins %}
      <option value="{{ plugin.id }}">{{ plugin.name }}</option>
      {% endfor %}
    </select>

    <label>Interval</label>
    <div class="row">
      <input type="number" id="refresh-days" placeholder="Days" />
      <input type="number" id="refresh-hours" placeholder="Hours" />
      <input type="number" id="refresh-minutes" placeholder="Minutes" />
      <input type="number" id="refresh-seconds" placeholder="Seconds" />
    </div>

    <button onclick="savePluginSettings()">Save</button>
  </div>

  <div class="card stack" style="flex: 1">
    <h2>Activation Schedule</h2>

    <label>Plugin</label>
    <select id="schedule-time-dropdown">
      {% for plugin in plugins %}
      <option value="{{ plugin.id }}">{{ plugin.name }}</option>
      {% endfor %}
    </select>

    <label>Daily Time</label>
    <input type="time" id="schedule-time" />

    <button onclick="addSchedule()">Save</button>
  </div>
</div>

<div class="plugin-grid" id="plugin-grid"></div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/playlist.js') }}"></script>
{% endblock %}
