{% extends "base.html" %}
{% block title %}{{ plugin.name }} · PaperPi{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('plugin.plugin_css', plugin_id=plugin.id) }}">
{% endblock %}

{% block content %}
<div class="card stack">
  <h1>{{ plugin.name }}</h1>

    <form
      id="settings-form"
      class="stack"
      data-submit-url="{{ url_for('plugin.submit_data', plugin_id=plugin.id) }}"
    >
    {% include template %}
  </form>

  <button onclick="updateClicked()">Update</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('plugin.plugin_script', plugin_id=plugin.id) }}"></script>
<script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
{% endblock %}
